.select-by-area,
.select-by-category {
  cursor: pointer;
  width: 220px;
  color: black;
  background: url('https://image.freepik.com/photos-gratuite/fond-texture-motifs-marbre-marbres-thailande-marbre-naturel-abstrait-noir-blanc-gris-pour-design_1253-914.jpg');
  border: none;
  padding: 2%;
  font-family: Sans Pro, sans-serif;
}

.area {
  text-decoration: white;
}

.select-advanced {
  margin-bottom: 2%;
}
