.container-inputs-fridge {
  margin-bottom: 3%;
}

.input-fridge {
  width: 15%;
  line-height: 25px;
  padding: 5px;
  border: solid 2px black;
  font-size: 15px;
  color: black;
  text-align: center;
  background: url('https://image.freepik.com/photos-gratuite/fond-texture-motifs-marbre-marbres-thailande-marbre-naturel-abstrait-noir-blanc-gris-pour-design_1253-914.jpg');
  margin: 5px 4px 10px;
  border-radius: 20px;
}

.form-search {
  margin-bottom: 2%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .input-fridge {
    width: 50%;
    font-size: 12px;
    line-height: 20px;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .input-fridge {
    width: 30%;
    font-size: 12px;
    line-height: 22px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .input-fridge {
    width: 17%;
    font-size: 12px;
  }
}
