@import 'https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Gotu&family=Source+Sans+Pro&display=swap';

.RandomRecipe {
  width: 90%;
  margin: auto;
  font-family: 'Dancing Script', sans serif;
  font-weight: bold;
}

.card {
  background: rgba(0, 0, 0, 0.5) !important;
  color: white;
  font-size: 30px;
}

.titleCard {
  color: white;
  font-size: 45px;
  font-weight: bold;
}

.CardRecipe {
  display: flex;
  flex-direction: column;
  margin: auto;
  font-family: 'Dancing Script', sans serif;
}

.ImgRecipe {
  padding-top: 50px;
  padding-bottom: 50px;
  display: inherit;
  margin: auto;
  width: 40%;
  height: 40%;
  border-radius: 20%;
}

.RecipeList {
  color: white;
  font-family: 'Dancing Script', sans serif;
  font-size: 25px;
  display: inherit;
}
