@import 'https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Gotu&family=Source+Sans+Pro&display=swap';

.RandomRecipe {
  width: 100%;
  margin: auto;
  font-family: Source Sans Pro, sans-serif;
  display: flex;
  flex-direction: column;
}

.cardRecipe {
  color: white;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.titleCard {
  font-family: 'Dancing Script', sans serif;
  color: white;
  font-size: 50px;
  font-weight: bold;
  display: flex;
  margin: auto;
  flex-direction: column;
}

.badge {
  margin-left: 10px;
  padding: 5px !important;
}

.subtitleCard {
  margin: auto;
  display: flex;
  margin-bottom: 25px;
}

.list-group-item {
  background: rgba(0, 0, 0, 0.5) !important;
  color: white;
  font-size: 15px;
  display: flex;
  flex-direction: column;
}

.Instructions {
  display: flex;
  flex-direction: column;
  width: 65%;
  margin: auto;
  padding-bottom: 12%;
  text-align: justify;
  margin-left: 20px;
}

.TitleInstructions {
  display: flex;
  margin: auto;
  margin-bottom: 3%;
  margin-top: 25px;
}

.InstructionsList {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: row;
}

.CardRecipe {
  display: flex;
  flex-direction: column;
  margin: auto;
  font-family: 'Dancing Script', sans serif;
  display: flex;
}

.ImgRecipe {
  display: inherit;
  margin: auto;
  width: 30%;
  height: 30%;
  border: 5px solid white;
  display: flex;
}

.VideoRecipe {
  display: flex;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Source Sans Pro, sans-serif;
}

.RecipeList {
  color: white;
  font-size: 25px;
  display: inherit;
  display: flex;
}

.ButtonRecipe {
  margin: auto;
  height: 60px;
  margin-top: 1%;
  margin-bottom: 2%;
  font-family: Source Sans Pro, sans-serif;
  display: flex;
  background-color: rgb(59, 59, 59);
  height: 40px;
  width: 150px;
  border: 2px solid white;
  color: #bfc0c0;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

@media (max-width: 768px) {
  .titleCard {
    color: white;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
  }

  .list-group-item {
    background: rgba(0, 0, 0, 0.5) !important;
    color: white;
    font-size: 15px;
    display: flex;
    flex-direction: column;
  }

  .Instructions {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    width: 100%;
    margin: auto;
    text-align: justify;
  }

  .InstructionsList {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  .VideoRecipe {
    display: flex;
    width: 350px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Source Sans Pro, sans-serif;
  }
}
