.recipes-list-container {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.main-container {
  width: 90% !important;
}

.card-detail {
  text-align: center;
  margin-bottom: 2% !important;
}

.ButtonDisplay {
  font-weight: bold;
  color: black;
  text-transform: uppercase;
}

.ButtonDisplay:hover {
  color: rgba(70, 69, 66, 0.87);
  text-decoration: none;
}

.card-title {
  color: black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  font-size: large;
}

.recipe-not-love {
  color: white;
  margin-right: 1%;
}

.card-body {
  background: url('https://image.freepik.com/photos-gratuite/fond-texture-motifs-marbre-marbres-thailande-marbre-naturel-abstrait-noir-blanc-gris-pour-design_1253-914.jpg');
  font-family: Sans;
  font-family: Source Sans Pro, sans-serif;
}

.container-card-recipe {
  padding-bottom: 2%;
}

.card-heart {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.recipe-not-love:hover {
  cursor: pointer;
}

.ingredient-error-message {
  border-radius: 5%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

.text-ingredient-error-message {
  margin-top: 10%;
  color: white;
  font-size: x-large;
  margin-bottom: 20%;
}

.button-error-message {
  font-size: x-large;
  color: white;
  cursor: pointer;
}
