@import 'https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Gotu&family=Source+Sans+Pro&display=swap';

.Navbar-container {
  width: 90%;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
}

.profile-image {
  display: flex;
  align-items: flex-end;
  margin-right: auto;
  margin-left: auto;
}

.profile-icone {
  color: white;
}
